@import 'system.styl'

.index
	text-align: center
	margin: auto
	
	img
		padding: 100px 0 0 0
		width: 200px
		height: 200px
	.input
		width: 100px
		margin: auto
	a
		color: default_color
	a:hover
		color: primary_color